# Common
POSTGRES_USER=atlas
POSTGRES_PASSWORD=atlas
POSTGRES_DB=atlas
DATABASE_URL=postgres://atlas:atlas@db:5432/atlas

# API GEO
API_GEO_PORT=8000
RUST_LOG=info,sqlx=warn,axum::rejection=trace

# API INFER
API_INFER_PORT=8000
MODEL_PATH=/models/model.onnx

# API OPTI
API_OPTI_PORT=8000

# UI
VITE_API_GEO=http://127.0.0.1:8001
VITE_API_INFER=http://127.0.0.1:8002
VITE_API_OPTI=http://127.0.0.1:8003
